# SPDX-FileCopyrightText: gb-open-market-model contributors
#
# SPDX-License-Identifier: CC0-1.0

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @brynpickering @FabianHofmann @gincrement @SermishaNarayana @yerbol-akhmetov
